@page "/unauthorized"

<WhiteHeader>
    <Header>
        Unauthorized user
    </Header>
    <ChildContent>
        <p>
            The access to the application is granted <b>only</b> to authenticated and authorized users. 
            Please keep in touch with Lumanity in order to obtain your credentials.
        </p>
    </ChildContent>
</WhiteHeader>