@font-face {
	font-family: 'Suisse Intl';
	src: url(../../assets/fonts/SuisseIntl-Regular.eot) format('embedded-opentype'),
	url(../../assets/fonts/SuisseIntl-Regular.eot) format('embedded-opentype'),
	url(../../assets/fonts/SuisseIntl-Regular.woff2) format('woff2'),
	url(../../assets/fonts/SuisseIntl-Regular.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}